In [43]:
import random
import pandas as pd
import numpy as np
class_df = pd.read_csv('ClassFinal.csv',sep = ',',index_col=None)
class_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Amy Tieku,NaN,NaN,NaN,NaN,NaN
1,NaN,Archi Singh,NaN,NaN,NaN,NaN,NaN
2,NaN,Britni Grimm,NaN,NaN,NaN,NaN,NaN
3,NaN,Devin Hollister,NaN,NaN,NaN,NaN,NaN
4,NaN,Ellen Shuan,NaN,NaN,NaN,NaN,NaN

In [45]:
class_df.rename(columns={'Unnamed: 1':'Roll'}, inplace=True)
class_list = list(class_df['Roll'])
print(class_list)

['Amy Tieku', 'Archi Singh', 'Britni Grimm', 'Devin Hollister', 'Ellen Shuan', 'Harini Narayanam', 'Jacob Sambajon', 'John Salvador', 'Jordan Echeverria', 'Maggie McPhail', 'Miguel Diaz', 'Jackie Pimchanya', 'Ren Yildiz', 'Sebastian Campos', 'Toai-nguyen', 'Zahra Tavakoli', 'Bansi Hrdeyjot', 'Maya Singh', 'Joseph Shanu']

In [59]:
group = 1
num_in_group = 0
class_list = ['Amy Tieku', 'Archi Singh', 'Britni Grimm', 'Devin Hollister', 'Ellen Shuan', 'Harini Narayanam', 'Jacob Sambajon', 'John Salvador', 'Jordan Echeverria', 'Maggie McPhail', 'Miguel Diaz', 'Jackie Pimchanya', 'Ren Yildiz', 'Sebastian Campos', 'Toai-nguyen', 'Zahra Tavakoli', 'Bansi Hrdeyjot', 'Maya Singh', 'Joseph Shanu']
random.shuffle(class_list)

In [60]:
print(class_list)
len(class_list)

['Miguel Diaz', 'Joseph Shanu', 'Jordan Echeverria', 'Britni Grimm', 'Zahra Tavakoli', 'John Salvador', 'Toai-nguyen', 'Amy Tieku', 'Jacob Sambajon', 'Archi Singh', 'Harini Narayanam', 'Devin Hollister', 'Ren Yildiz', 'Maya Singh', 'Jackie Pimchanya', 'Maggie McPhail', 'Sebastian Campos', 'Bansi Hrdeyjot', 'Ellen Shuan']

19

In [61]:
print(f'Group {group} consists of:')
for member in class_list:
    if num_in_group == 4:
        group+=1
        print("\n")
        print(f'Group {group} consists of:')
       
        num_in_group = 0  
    print(member)
    num_in_group += 1

Group 1 consists of:
Miguel Diaz
Joseph Shanu
Jordan Echeverria
Britni Grimm


Group 2 consists of:
Zahra Tavakoli
John Salvador
Toai-nguyen
Amy Tieku


Group 3 consists of:
Jacob Sambajon
Archi Singh
Harini Narayanam
Devin Hollister


Group 4 consists of:
Ren Yildiz
Maya Singh
Jackie Pimchanya
Maggie McPhail


Group 5 consists of:
Sebastian Campos
Bansi Hrdeyjot
Ellen Shuan